<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <modules>
      <add name="MyModule" type="MyIIS7Project.MyModule" />
    </modules>
    <handlers>
      <add name="MyHandler" path="time.tm" verb="GET" type="MyIIS7Project.MyHandler" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.web>
    <httpModules>
      <add name="MyModule" type="MyIIS7Project.MyModule" />
    </httpModules>
    <httpHandlers>
      <add path="time.tm" verb="GET" type="MyIIS7Project.MyHandler" />
    </httpHandlers>    
  </system.web>
</configuration>